<div class="container">
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" style="font-size: 40px;">Notícias</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim aliquam temporibus velit repudiandae excepturi tempora quasi nemo totam deleniti dolorem, laboriosam id dolor? Cumque repudiandae eum maxime neque non.
                <a class="link-success">Continuar >></a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi nam iste numquam velit. Delectus necessitatibus autem, voluptates quisquam quos itaque assumenda. Quod voluptate non recusandae libero minima eaque tempora.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit at repudiandae officiis veritatis commodi nihil earum distinctio? Quisquam, atque libero? Unde soluta dicta qui. Omnis unde quidem modi voluptatem numquam. <a class="link-success">Continuar >></a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae laborum adipisci totam tempore perferendis libero ratione et nemo, iure quas doloribus eum laboriosam facere repellat rem neque nobis maiores sequi!
                <a class="link-success">Continuar >></a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae laborum adipisci totam tempore perferendis libero ratione et nemo, iure quas doloribus eum laboriosam facere repellat rem neque nobis maiores sequi!
                <a class="link-success">Continuar >></a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae laborum adipisci totam tempore perferendis libero ratione et nemo, iure quas doloribus eum laboriosam facere repellat rem neque nobis maiores sequi!
                <a class="link-success">Continuar >></a>    
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link"  tabindex="-1" aria-disabled="true"><<</a>
          </li>
          <li class="page-item"><a class="page-link" >1</a></li>
          <li class="page-item"><a class="page-link" >2</a></li>
          <li class="page-item"><a class="page-link" >3</a></li>
          <li class="page-item">
            <a class="page-link" >>></a>
          </li>
        </ul>
      </nav>
      <br>
      <br>
    </div>
    <br>
    <br>