<div class="container">
    <div class="row">
      <div class="col-9" style="font-size: 40px;"><b>Novo resultado</b></div>
    </div>
    <br>
  <div class="row">
      <div class="rol">
          <form class="row g-3 needs-validation" novalidate>
            <div class="col-6">
                <label for="validationCustom01" class="form-label"><b>Time Mandante</b></label>
                <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Escolha um time</option>
                    <option>TIME 1</option>
                    <option>TIME 2</option>
                    <option>TIME 3</option>
                  </select>
                <div class="valid-feedback">
                  
                </div>
              </div>
              <div class="col-6">
                <label for="validationCustom02" class="form-label"><b>Número de gol(s)</b></label>
                <input type="number" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                </div>
              </div>
              <br>
              <div class="col-6">
                <label for="validationCustom01" class="form-label"><b>Time Visitante</b></label>
                <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Escolha um time</option>
                    <option>TIME 1</option>
                    <option>TIME 2</option>
                    <option>TIME 3</option>
                  </select>
                <div class="valid-feedback">
                  
                </div>
              </div>
              <div class="col-6">
                <label for="validationCustom02" class="form-label"><b>Número de gol(s)</b></label>
                <input type="number" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                </div>
              </div>
              <div class="col-12">
                <label for="validationCustom03" class="form-label"><b>Campeonato</b></label>
                <input type="text" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback">
                  Informe um nome válido.
                </div>
              </div>
              <br>
              <div class="col">
                <button class="btn " type="submit"id="liveToastBtn"><b>Cadastrar resultado</b></button>                
                <button class="btn " type="submit" routerLink= "/partida" ><b>Voltar</b></button>
              </div>
            </form>
      </div>
  </div>
  <br>
  <br>
  </div>
  