

<div class="container">
    <div class="row">     
      <div class="col" style="font-size: 40px;"><img src="assets/img/clubes.png"> <b> Clubes</b></div>
        <div class="col-3"><h6>Adicionar novo time <a routerLink= "/cadastroclube"><img src="assets/img/novo.png" ></a></h6></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nome</th>
                    <th scope="col">Fundação</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><img src="assets/img/time1.png"></th>
                    <td>Time 1</td>
                    <td>1923</td>
                    <td>São Paulo</td>
                    <td><img src="assets/img/editar.png"></td>
                    <td><img src="assets/img/excluir.png"></td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="assets/img/time2.png"></th>
                    <td>Time 2</td>
                    <td>1943</td>
                    <td>Rio de Janeiro</td>
                    <td><img src="assets/img/editar.png"></td>
                    <td><img src="assets/img/excluir.png"></td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="assets/img/time3.png"></th>
                    <td>Time 3</td>
                    <td>1918</td>
                    <td>Minas Gerais</td>
                    <td><img src="assets/img/editar.png"></td>
                    <td><img src="assets/img/excluir.png"></td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
    <br>
    <br>
    </div>