

<div class="container">
    <div class="row">        
        <div class="col" style="font-size: 40px;"><img src="assets/img/jogadores.png"> <b> Jogadores</b></div> 
        <div class="col-3"><h6>Adicionar novo jogador <a routerLink= "/cadastrojogador"><img src="assets/img/novo.png" ></a></h6></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nome</th>
                    <th scope="col">Time</th>
                    <th scope="col">Número</th>
                    <th scope="col">Posição</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><img src="assets/img/jogador1.png"></th>
                    <td>João Gomes Silva</td>
                    <td>Time 2</td>
                    <td>10</td>
                    <td>Atacante</td>
                    <td><img src="assets/img/editar.png"></td>
                    <td><img src="assets/img/excluir.png"></td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="assets/img/jogador2.png"></th>
                    <td>André Luiz Santos</td>
                    <td>Time 3</td>
                    <td>9</td>
                    <td>Goleiro</td>
                    <td><img src="assets/img/editar.png"></td>
                    <td><img src="assets/img/excluir.png"></td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="assets/img/jogador3.png"></th>
                    <td>Igor Souza</td>
                    <td>Time 1</td>
                    <td>7</td>
                    <td>Zagueiro</td>
                    <td><img src="assets/img/editar.png"></td>
                    <td><img src="assets/img/excluir.png"></td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
    <br>
    <br>
    </div>