.text-center
{
    background-color: #3f765f;
    border-radius: 15px;
}

.col-6
{
    text-align: center;
}

.border-light
{
    background-color: #235b4c;
}

#versus
{
        width: 25Px;
        height: 25px;
}

#result
{
    align-items: center;
}