

<div class="container">
    <div class="row">        
      <div class="col" style= "font-size: 40px;"><img src="assets/img/placar.png"> <b> Partidas</b></div>
        <div class="col-3"><h6>Adicionar nova partida <a routerLink= "/novapartida"><img src="assets/img/novo.png" ></a></h6></div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <p class="text-center" style="font-size: 30px;"><b>Resultados</b></p>
      </div>
    </div>
    <br>  
    <div class="d-flex justify-content-center"> <h5>Campeonato Brasileiro</h5> </div>  
    <br>
    <div class="d-flex justify-content-center"> 
      <h5>TIME 1</h5> <img src="assets/img/time1menor.png"><b><h4>0</h4> </b> <img id="versus" src="assets/img/versus.png"> <h4>2</h4><img src="assets/img/time2menor.png"> <h5>TIME 2</h5>
    </div>
    <br>
    <div class="d-flex justify-content-center"> <h5>Copa do Brasil</h5></div>  
    <br>
    <div class="d-flex justify-content-center">
      <h5>TIME 2</h5><img src="assets/img/time2menor.png"><h4>1</h4> <img id="versus" src="assets/img/versus.png"> <h4>1</h4><img src="assets/img/time3menor.png"> <h5>TIME 3</h5>
      </div>
      <br>
      <br>

    </div>

