<div class="container">
    <p class="fs-1" style="text-align: center;"><b>PORTAL CAMPEONATO</b></p>  
</div>
<br>

<br>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <br>
          <img src="assets/img/trofeu1.png" id="noticias" style="width: 70%;" class="mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi nam iste... <a class="link-success">Continuar >></a>  </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Por REDAÇÃO - PUBLICADO EM 28 MAI 2020</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <br>
          <img src="assets/img/trofeu2.png" id="noticias" style="width: 70%;" class="mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi nam iste... <a class="link-success">Continuar >></a>  </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Por REDAÇÃO - PUBLICADO EM 25 MAI 2020</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <br>
        <img src="assets/img/gool.png" id="noticias" style="width: 70%;" class="mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi nam iste... <a class="link-success">Continuar >></a>  </p>
          <br>
        </div>
        <div class="card-footer">
          <small class="text-muted">Por REDAÇÃO - PUBLICADO EM 25 MAI 2020</small>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<br>
<br>
<div class="container">
  <br>
  <br>
  <div class="row">

      <div class="col">
          <div class="clube">
              <div class="fs-4" id="titulo">
              <b>TIME</b>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="jogador">
              <div class="fs-4" id="titulo">
                  <b>JOGADOR</b>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="partida">
              <div class="fs-4" id="titulo">
              <b>RESULTADO</b>
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="row g-5">
      <div class="col">
          <div class="clube-body">
              <img src="assets/img/gol-home2.png" style="width: 70%;" alt="clube">
              <br>
              Saiba mais sobre seu time do coração ou pesquise sobre outros times
              <br><br>
              <a class="btn btn-outline-success" [routerLink] = "['clube']" role="button">Mais >></a>
          </div>
      </div>
      <div class="col">
          <div class="jogador-body">
            <img src="assets/img/foot.png" style="width: 70%;" alt="jogador">
            <br>
            Está  querendo saber um pouco mais sobre o camisa 10 do seu time? Ou descobrir quem é o goleiro do Time X ? Clique a seguir para saber mais   
            <br><br>
              <a class="btn btn-outline-success" [routerLink] = "['jogador']" role="button">Mais >></a>
          </div>
      </div>
      <div class="col">
          <div class="partida-body">
            <img src="assets/img/taça.png" style="width: 70%;" alt="clube">
            <br>
              Saiba o resultado das últimas partidas<br><br>
              <a class="btn btn-outline-success" [routerLink] = "['partida']" role="button">Mais >></a>
          </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  </div>
<br>
<br>